*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url("./imagem/imagem-fundo.png");
    z-index: 2;
    background-color: #EFF3F8;
}

header{
    background: url(/assets/patternECOStransparente.png), linear-gradient(to bottom right, #295ba7, #78b454);
    z-index: 1;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 17px;
    align-items: center;
}

.logo-image{
    width: 105px;
    height: 36px;
}

.inicio{
    display: flex;
    align-items: center;
}

.margin-h3{
    margin-left: 10px;
}

nav ul{
    display: flex;
    align-items: center;
    margin-right: 13px;
    list-style: none;
}

input::placeholder{
    color:#fff;
}


input:focus {
    border: 1px solid rgb(120, 180, 85);
    outline: none;
}

input[type=text] {
    color: #fff;
    width: 400px;
    height: 29px;
    border-radius: 4px;
    background-color: #356b6578;
    opacity: 0.9;
    border: none;
}

.segunda-esquerda{
    padding: 11px 10px;
}

.segunda-esquerda:hover{
    background-color: rgba(0, 0, 0, 0.308);
    cursor: pointer;
}

.primeira-esquerda{
    
}

.user {
    display: flex;
    align-items: center;
}

.icone-user{
    margin-left: 25px;
}

.drop-login{
    margin-left: 6px;
}

.search{
    position: absolute;
    left: 620px;
}

@media(max-width: 854px){
    .inicio .input-navbar {
        display: none;
    }
    /* .logo-image{
        display: none;
    } */
    
}

@media(min-width) {
    
}

.imagem-fundo1{
    position: absolute;
}

.imagem-fundo2{
    position: absolute;
    left: 240px;
}

.imagem-fundo3{
    position: absolute;
    left: 470px;
}

.imagem-fundo4{
    position: absolute;
    left: 695px;
}

.imagem-fundo5{
    position: absolute;
    left: 920px;
}

.imagem-fundo6{
    position: absolute;
    left: 1140px;
}


/* Conteúdo */

.container{
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 50px;
    padding: 30px 10px;
    display: flex;
}
.aniversariante, .processos, .noticias{
    border-radius: 5px;
    padding: 20px 15px;
    margin-left: 30px;
    background-color: #295ba7;
}
.noticias{
    background-color: #F8F9FA;

}
.noticias div{
    background-color: #F8F9FA;
    margin-bottom: 20px;
    display: flex;
    padding: 15px;
    border-radius: 7px;
}
.processos{
    background-color:#F8F9FA;
}
.aniversariante{
    background-color: #F8F9FA;  
}
.aniversariante > div{
    border-bottom: 1px solid lightgray;
}
.coluna{
    display: flex;
    flex-direction: column;
}
