@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Nunito:wght@200&family=Poppins:wght@300&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url("./imagem/imagem-fundo.png");
    background-color: #EFF3F8;
}

header{
    background: url(/assets/patternECOStransparente.png), linear-gradient(to bottom right, #295ba7, #78b454);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 17px;
    align-items: center;
}

.logo-image{
    width: 105px;
    height: 36px;
}

.inicio{
    display: flex;
    align-items: center;
}

.margin-h3{
    margin-left: 10px;
}

nav ul{
    display: flex;
    align-items: center;
    margin-right: 13px;
    list-style: none;
}

input::placeholder{
    color:#fff;
    padding-left: 10px;
}


input:focus {
    border: 1px solid rgb(120, 180, 85);
    outline: none;
}

input[type=text] {
    color: #fff;
    width: 400px;
    height: 29px;
    border-radius: 4px;
    background-color: #356b6578;
    opacity: 0.9;
    border: none;
}

.segunda-esquerda{
    padding: 11px 10px;
}

.segunda-esquerda:hover{
    background-color: rgba(0, 0, 0, 0.308);
    cursor: pointer;
}

.primeira-esquerda{
    
}

.user {
    display: flex;
    align-items: center;
}

.icone-user{
    margin-left: 25px;
}

.drop-login{
    margin-left: 6px;
}

.search{
    position: absolute;
    left: 620px;
}

@media(max-width: 854px){
    .inicio .input-navbar {
        display: none;
    }
    /* .logo-image{
        display: none;
    } */
    
}

@media(min-width) {
    
}

.imagem-fundo1{
    position: absolute;
}

.imagem-fundo2{
    position: absolute;
    left: 240px;
}

.imagem-fundo3{
    position: absolute;
    left: 470px;
}

.imagem-fundo4{
    position: absolute;
    left: 695px;
}

.imagem-fundo5{
    position: absolute;
    left: 920px;
}

.imagem-fundo6{
    position: absolute;
    left: 1140px;
}


/* Conteúdo */

.container{
    padding: 30px 10px;
    display:flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}
.aniversariante, .processos, .noticias{
    border-radius: 4px;
    padding: 20px 15px;
    background-color: #f8f9fad0;
}

.noticias .divs-noticias{
    background-color: #fff;
    display: flex;
    border-radius: 7px;
    -webkit-box-shadow: 3px 5px 11px -2px rgba(0,0,0,0.09); 
    box-shadow: 3px 5px 11px -2px rgba(0,0,0,0.09);
}

.texto-noticia{
    display: flex;
    flex-direction: column;
    padding: 10px 15px 0 15px
}

.texto-noticia div {
    display: flex;
    justify-content: space-between;
}

.noticias{
    width: 50%;
}

.fixar-icones div i {
    margin-left: 15px;
}

.cor-icone{
    color: rgba(255, 0, 0, 0.651);
}

.cor-icone-cinza{
    color: grey;
}

.fixar-icones div small {
    margin-left: 3px;
}

.paragrafo1{
    padding-bottom: 70px;
}

.paragrafo2{
    padding-bottom: 70px;
}

.paragrafo3{
    padding-bottom: 70px;
}

.not-margin{
    margin-bottom: 20px;
}
.processos{
    background-color:#F8F9FA;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.processos div i{
    display: flex;
    justify-content: center;
}
.processos div h6{
    text-align: center;
}

.titulo-processos{
    width: 500px;
}

.processos div {
    background-color: #fff;
    display: flex;
    margin: 7px;
    flex-direction: column;
    width: 60px;
    height: 50px;
    padding: 15px 24px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 6px 3px rgba(0,0,0,0.09); 
    box-shadow: 0px 2px 6px 3px rgba(0,0,0,0.09);;
}

.aniversariante{
    background-color: #F8F9FA;  
}

.aniversariante > div{
    border-bottom: 1px solid lightgray;
}

.coluna{
    margin-left: 15px;
    max-width: 400px;
}

img{
    border-radius: 5px 0 0 5px;
}


/* RESPOSIVIDADE */

@media(max-width: 1211px){
    
}